@model EmployeeViewModel
@{ 

    var options = new AjaxOptions
    {
        //Confirm = "Are You Sure?",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.InsertAfter,
        UpdateTargetId="tbody",
        OnSuccess = "addSucess"

    };
}
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
                @using (Ajax.BeginForm("Add", "Employees",options))
                {
            <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(e => e.Employee.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Employee.Name)
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(e => e.Employee.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Employee.Email)
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        @Html.TextBoxFor(e => e.Employee.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Employee.Age)
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        @Html.DropDownListFor(e => e.Employee.FK_DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Department", new { @class = "form-group" })
                        @Html.ValidationMessageFor(e => e.Employee.FK_DepartmentId)
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        @Html.EnumDropDownListFor(e => e.Employee.Gender, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Employee.Gender)
                    </div>
                    <div>
                       
                        @*<a href="/employees/index" class="btn btn-success">Back To List</a>*@
                    </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
                }
        </div>
    </div>
</div>