@model EmployeeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<br />
<br />
@if(User.IsInRole("Admin")|| User.IsInRole("Manager"))
{
    @*<a href="/employees/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus" ></span>Add New Employee</a>*@
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus"></span>Add New Employee
    </button>
}
<br />
<br />

@if(Model.Employees == null || Model.Employees.Count == 0)
{
    <h4>No Emplyees Found</h4>
}
else
{

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>>
            <th>Age</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (Employee emp in Model.Employees)
        {
            <tr id="@emp.Id">
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Department.Name</td>
                <td>@emp.Age</td>
                <td>@emp.Gender</td>
                <td>
                    @Html.Partial("_PartialControlbuttons",emp.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
}
@section scripts {
    @*<script src="~/Scripts/siteScripts/confirmDeleteEmp.js"></script>*@
    @Scripts.Render("~/bundles/confirmDeleteEmp")
    <script>
        function addSucess() {
            $('#myModal').modal('hide');
            document.getElementById("form0").reset();
        }
    </script>
    }
@Html.Partial("_PartialAddEmployee",Model);
